### TOPIC: String Based Assignment Problem

### Ques_1- Write a program to reverse a string.

In [1]:
a = "intelligent"

In [2]:
a[::-1]

'tnegilletni'

#####               or

In [3]:
a = "pwskills"
for i in range(len(a)-1,-1,-1):
    print(a[i],i)

s 7
l 6
l 5
i 4
k 3
s 2
w 1
p 0

### Ques_2 - Check if a string is a palindrome.

In [4]:
a = "kayak"
b = a[::-1]
if a==b:
    print("it is palindrome")
else:
    print("it is not palindrone")

it is palindrome

### Ques_3 -  Convert a string to uppercase

In [5]:
str = "gaurav singh"
str.upper()

'GAURAV SINGH'

### Ques_4 -Convert a string to lowercase.

In [6]:
s = "GAURAV KUMAR SINGH "

In [7]:
s.lower()

'gaurav kumar singh '

### Ques_5 -Count the number of vowels in a string

In [9]:
a = input('enter the sentence')
low = a.lower()
l = ['a','e','u','i','o']
count = 0
for i in low:
    if i in l :
        count+=1
print("vowel",count)

enter the sentence hello world

vowel 3

### Ques_6- Count the number of consonants in a string.

In [1]:
def count_vowel(sentence) :
    vowels = "bcdfghjklmnpqrstvwxyz"
    vowel_count = 0
    for i in sentence:
        if i in vowels:
            vowel_count += 1
    print(vowel_count)

In [2]:
count_vowel("this course is very awsome")

13

### Ques_7 - Remove all whitespaces from a string.

In [9]:
s = '  pwskills  '
print(s)
print(s.strip())

  pwskills
pwskills

### Ques_8- Find the length of a string without using the `len()` function.

In [11]:
s = input('enter the sentence :-')
count = 0
for i in s :
    count = count + 1 
print(count)

enter the sentence :- this class is very good

23

### Ques_9 - Check if a string contains a specific word

In [13]:
string = "this is a python class"
check = "python"
if check in string :
    print("yes , it is specific word")
else :
    print("No , it is not specific word")

yes , it is specific word

### Ques_10 - Replace a word in a string with another word.

In [17]:
s = 'hello pwskills'
new_str = s.replace('hello','good')
print(new_str)

good pwskills

### Ques_11 -  Count the occurrences of a word in a string

In [1]:
count_string = "hello world is the famous word and hello world always use in python"
accurrence  = count_string.count("hello")
print(accurrence )

2

### Ques_12 Find the first occurrence of a word in a string.

In [2]:
word = 'the python language is the best way analyise the data'
result = word.index("python")
print(result)

4

###  Ques_13 -  Find the last occurrence of a word in a string

In [16]:
word = 'the python language is the best way analyise the data'
result = word.rindex("the")
print(result)

45

### Ques_14 -Split a string into a list of words.

In [1]:
string = "this is a python language"
split_string = string.split()
print(split_string)

['this', 'is', 'a', 'python', 'language']

### Ques_15 -  Join a list of words into a string

In [22]:
list_word = ['my','name','is','gaurav']
space = " , "
join_string= (space.join(list_word))
print(join_string)

my , name , is , gaurav

list

### Ques_16-Convert a string where words are separated by spaces to one where words are separated by underscores

In [5]:
string = "this is a pen"
underscore = string.replace(" ","_")
print(underscore)

this_is_a_pen

### Ques_17- Check if a string starts with a specific word or phrase

In [3]:
string = "hello good morning and again"
specific_word = 'hello'
result = string.startswith(specific_word)
print('yes,this is a ',result)

yes,this is a  True

### Ques_18-  Check if a string ends with a specific word or phrase.

In [5]:
string = "python class running is so well"
result = string.endswith("well")
print(result)

True

In [6]:
string = "python class running is so well"
result = string.endswith("python")
print(result)

False

### Ques_19-Convert a string to title case (e.g., "hello world" to "Hello World").

In [6]:
string = "hello world"
title_case = string.title()
print(title_case)

Hello World

### Ques_20- Find the longest word in a string

In [9]:
sentence = input('enter the sentence-')
longest = max(sentence.split() , key=len)
print('longest word is :' , longest )

enter the sentence-  Find the greatest word in a string¶

longest word is : greatest

### or

In [1]:
string = "this is a programming language"
split = string.split()
max = 0
for i in split:
    if len(i) > max :
        max = len(i)
        max_word = i
print(max_word)

programming

### Ques_21- . Find the shortest word in a string

In [11]:
sentence = input()
shortest = min(sentence.split() , key=len)
print('shortest word is :' , shortest )

 this is a programming language

shortest word is : a

### Ques_22- Reverse the order of words in a string

In [16]:
string = "this is a reverse method"
word = string.split()
reverse = word[::-1]
result = ' '.join(reverse)
print(result)

method reverse a is this

In [7]:
string

'this is a reverse method'

## or

In [14]:
def reverse_word(input_string):
    words = input_string.split()
    reversed_word = words[::-1]
    reverse_string = ' '.join(reversed_word)
    return reverse_string

In [15]:
string = 'this is a python language'
result = reverse_word(string)
print(result)

language python a is this

### Ques_23 - Check if a string is alphanumeric

In [4]:
string1 = "xyz@#$123"
print(string1.isalnum())

False

In [3]:
string = "abc123"
print(string.isalnum())

True

### Ques_24- . Extract all digits from a string

In [5]:
a = "gaur2av4kum8ar9si2ng0h"
for i in a :
    if(i.isdigit()):
        print(i,end="")

248920

### or

In [10]:
def extract(string):
    digit = ""
    for i in string:
        if i.isdigit():
            digit = digit + i 
    return digit
string = "my12name34is56a78gaurav"
result = extract(string)
print(result)

12345678

### Ques_25- . Extract all alphabets from a string

In [3]:
a = "man6oj5si4n2gh1"
for i in a :
    if(i.isalpha()):
        print(i,end="")

manojsingh

### Ques_26-  Count the number of uppercase letters in a string

In [11]:
string = "ABCdefGHIjklMNOpqrSTUvwxYZ"
count = 0
for i in string :
    if(i.isupper()):
        count=count+1
print("the number of uppercaseis", count)

the number of uppercaseis 14

### Ques_27- Count the number of lowercase letters in a strin

In [13]:
string2 = "ABCdefGHIjklMNOpqrSTUvwxYZ"
count2 = 0
for i in string2 :
    if(i.islower()):
        count2=count2+1
print("the number of uppercaseis", count2)

the number of uppercaseis 12

### Quest_28-Swap the case of each character in a string

In [16]:
a = "manoj IS A GOOD boy"
print(a.swapcase())

MANOJ is a good BOY

### Ques_29- . Remove a specific word from a string

In [13]:
string = input("enter the sentence")
new_string = string.replace("pen"," bag")
print(new_string)

enter the sentence this is a pen and copy

this is a  bag and copy

### Ques_30 - Check if a string is a valid email address.

In [7]:
import re
def solve(s):
    pat = "^[a-z A-Z 0-9-_]+@[a-z A-Z 0-9]+\.[A-Z]{1,3}$"
    if re.match(pat,s):
        return True
    return False 
s = "gauravmzp17@gmail.com" 
print(solve(s))

False

In [4]:
import re
def solve(a):
    pat = "^[a-zA-Z0-9-_]+@[a-zA-Z0-9]+\.[a-z]{1,3}$"
    if re.match(pat,a):
        return True
    return False 
a = "gauravsingh17@gamil.com" 
print(solve(a))

True

In [14]:
import re 
condition = "^[a-z]+[\._]?[a-z 0-9]+[@]\w+[.]\w{2,3}$"
email ="gauravmzp17@gamil.com"
if re.search(condition,email):
    print("right")
else :
    print("wromg")

right

 ### Ques_31- Extract the username from an email address string.

In [41]:
email = "gauravmzp17@gamil.com"
username, mail = email.split("@")
print(username)

gauravmzp17

### Ques_32 - Extract the domain name from an email address string

In [42]:
email = "gauravmzp17@gamil.com"
username, mail = email.split("@")
print(mail)

gamil.com

### Ques_33- Replace multiple spaces in a string with a single space.

In [6]:
import re
s = "i am   a   student"
replace_space = re.sub(' +',' ',s)
print(replace_space)

i am a student

### or

In [7]:
string = 'this     is  a   pen  and   copy'
result = ' '.join(string.split())
print(result)

this is a pen and copy

### Ques_34- Check if a string is a valid URL

In [4]:
 def find(string):
        x = string.split()
        result=[]
        for i in x :
            if i.startswith('https:') or i.startswith('http:'):
                result.append(i)
        return result
string = "https://pro.pwskills.org/user"
print('is a valid URL',find(string))

is a valid URL ['https://pro.pwskills.org/user']

### Ques_35- Extract the protocol (http or https) from a URL string.

In [5]:
from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme

url_to_extract = "https://www.example.com/path/to/resource"
protocol = extract_protocol(url_to_extract)
print(f"The protocol of the URL is: {protocol}")

The protocol of the URL is: https

### Ques_36 - Find the frequency of each character in a string

In [17]:
string = "hello python"
dicts = {}
for i in string :
    if i in dicts :
        dicts[i] = dicts[i] + 1
    else :
        dicts[i] = 1
for key , value in dicts.items():
    print(f"{key} occur {value}")

h occur 2
e occur 1
l occur 2
o occur 2
  occur 1
p occur 1
y occur 1
t occur 1
n occur 1

### Ques_37 -Remove all punctuation from a string

In [29]:
punch = '''!@#$%^&*()_+-={}[]:"|;'\<>?,./'''
string = "hello@! python$% how^& are!@ you"
empty = ""
for i in string :
    if i not in punch :
        empty = empty + i
        
print(empty)

hello python how are you

### Ques_38- Check if a string contains only digits

In [6]:
string = "1234"
if string.isdigit() :
    print("yes")
else :
    print("no")

yes

### Ques_39 -Check if a string contains only alphabets.

In [9]:
string = "study"
if string.isalpha():
    print('yes')
else :
    print("no")

yes

### Ques_40- Convert a string to a list of characters

In [31]:
string = "pwskills"
list_str = list(string)
print(list_str)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

### Ques_41. Check if two strings are anagrams.

In [3]:
string1 = input("enter the string1")
string2 = input("enter the string2")
if sorted(string1) == sorted(string2):
    print("it is anagram")
else :
    print("it is not anagram")

enter the string1 silent
enter the string2 listen

it is anagram

### Ques_42. Encode a string using a Caesar cipher.

In [11]:
alphabet = "a b c d e f g h i j k l m n o p q r s t u v w x y z"
alpha = alphabet.split()
def encode(plain_text,shift_key):
    cipher_text = ""
    for i in plain_text :
        position=alpha.index(i)
        new_position=(position+shift_key)%26
        cipher_text = cipher_text+alpha[new_position]
    print("after encode--",cipher_text)

plain_text = input('type your message--')
shift_key =int(input('enter shift key--'))
encrypt = encode(plain_text,shift_key)

type your message-- hello
enter shift key-- 3

after encode-- khoor

### Ques_43. Decode a Caesar cipher encoded string

In [10]:
alphabet = "a b c d e f g h i j k l m n o p q r s t u v w x y z"
alpha = alphabet.split()
def decode(cipher_text,shift_key):
    plain_text = ""
    for i in cipher_text :
        position=alpha.index(i)
        new_position=(position-shift_key)%26
        plain_text = plain_text+alpha[new_position]
    print("after decode--",plain_text)

cipher_text = input('type your message--')
shift_key =int(input('enter shift key--'))
decrypt = decode(cipher_text,shift_key)

type your message-- khoor
enter shift key-- 3

after decode-- hello

### Ques_44. Find the most frequent word in a string

In [15]:
string = input("enter the sentence")
split_string = string.split()
count = {}
for i in split_string :
    if i not in count.keys() :
        count[i] = 0
    count[i] = count[i] + 1
print(count)

enter the sentence hello python hello world hello gaurav

{'hello': 3, 'python': 1, 'world': 1, 'gaurav': 1}

### Ques_45. Find all unique words in a string.

In [16]:
string = input ("enter the sentence")
split_string = string.split()
unique_word = set(split_string)
print(unique_word)

enter the sentence hello pwskills and hello python

{'hello', 'python', 'and', 'pwskills'}

### Ques_46. Count the number of syllables in a string

In [17]:
string = input("enter the sentence")
result = len(string)
print(result)

enter the sentence hello world

11

### Ques_47. Check if a string contains any special characters

In [1]:
input_str = "hello! python?"
special_characters = "!@#$%^&*()_-+=<>?/{}[]|"
index = 0
has_special_chars = False
while index < len(input_str):
    char = input_str[index]
    if char in special_characters:
        has_special_chars = True
        break 
    index = index+ 1 

if has_special_chars:
    print("String contains special characters.")
else:
    print("String does not contain special characters.")

String contains special characters.

## or

In [2]:
string = input("Enter the sentence: ")
special_chars = set("!@#$%^&*")

contains_special_char = any(char in special_chars for char in string)

if contains_special_char:
    print("The sentence contains special characters.")
else:
    print("The sentence does not contain special characters.")

Enter the sentence:  hello! world?

The sentence contains special characters.

### Ques_48. Remove the nth word from a string

In [3]:
string = input("enter the sentence")
remove_char = int(input("enter the Nth number"))
new_char = ""
for i in range(0,len(string)):
    if i != remove_char:
        new_char = new_char + string[i]
print(new_char)

enter the sentence hello python
enter the Nth number 4

hell python

### Ques_49. Insert a word at the nth position in a string.

In [6]:
string = "this is a pen for write a letter"
index_word = "pen"
index = string.find(index_word)
result = string[:index] + "pencil and " + string[index:]
print(result)

this is a pencil and pen for write a letter

### Ques_50. Convert a CSV string to a list of lists.

In [1]:
csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"

csv_list_of_lists = [row.split(',') for row in csv_string.split('\n') if row]

print(csv_list_of_lists)

[['1', 'John', 'Doe'], ['2', 'Jane', 'Smith'], ['3', 'Bob', 'Johnson']]

### TOPIC :  List Based Practice Problem

### Ques_1. Create a list with integers from 1 to 10.

In [2]:
list_int = []

In [3]:
type(list_int)

list

In [4]:
l = list(range(1,10))

In [5]:
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Ques_2. Find the length of a list without using the len() function.

In [6]:
l = [1,2,3,4,5,True,False,"string",89.07,5+6j]
count = 0
for i in l :
    count = count + 1
print("the length is --",count)

the length is -- 10

### Ques_3. Append an element to the end of a list.

In [7]:
l = [1,2,3,4,5,True,False,"string",89.07,5+6j]
l.append("pwskills")
print(l)

[1, 2, 3, 4, 5, True, False, 'string', 89.07, (5+6j), 'pwskills']

### Ques_4. Insert an element at a specific index in a list.

In [9]:
l =  [1,2,3,4,5,True,False,"string",89.07,5+6j]
l.insert(3,300)

In [10]:
l

[1, 2, 3, 300, 4, 5, True, False, 'string', 89.07, (5+6j)]

### Ques_5. Remove an element from a list by its value.

In [11]:
l = [1,2,3,4,5,True,False,"string",89.07,5+6j]
l.remove(False)
print(l)

[1, 2, 3, 4, 5, True, 'string', 89.07, (5+6j)]

### Ques_6.Remove an element from a list by its index.

In [12]:
l = [1,2,3,4,5,True,False,"string",89.07,5+6j]
l.pop(7)
print(l)

[1, 2, 3, 4, 5, True, False, 89.07, (5+6j)]

### Ques_7.Check if an element exists in a list.

In [18]:
l = [1,2,3,4,5,True,False,"string",89.07,5+6j]
exists_char = "string"
if exists_char in l :
    print("yes, it is exists")
else:
    print("no, it is not exists")

yes, it is exists

### Ques_8. Find the index of the first occurrence of an element in a list.

In [11]:
my_list = [1, 2, 3, 4, 2, 5]
index_of_2 = my_list.index(2)
print("Index of the first occurrence of 2:", index_of_2)

Index of the first occurrence of 2: 1

### Ques_9.Count the occurrences of an element in a list

In [12]:
l = [1,2,3,4,5,1,2,3,5,6,5,9,5,4,5,1,2,3,4,5]
count_occur = 5
count = l.count(count_occur)
print("count the occurrence of the list is==",count)

count the occurrence of the list is== 6

### Ques_10. Reverse the order of elements in a list.

In [13]:
l = [1,2,3,4,5,True,False,"string",89.07,5+6j]
reverse = l.reverse()
print(l)

[(5+6j), 89.07, 'string', False, True, 5, 4, 3, 2, 1]

### Ques_11. Sort a list in ascending order.

In [16]:
l1 = [2,5,4,3,6,7,8,23,65,89,341]
ascend = sorted(l1)
print(ascend)

[2, 3, 4, 5, 6, 7, 8, 23, 65, 89, 341]

### Ques_12. Sort a list in descending order.

In [18]:
l2 = [2,534,27,84,4,3,6,7,8,23,65,89,341]
descend = sorted(l2,reverse=True)
print(descend)

[534, 341, 89, 84, 65, 27, 23, 8, 7, 6, 4, 3, 2]

### Ques_13. Create a list of even numbers from 1 to 20.

In [32]:
l2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
l4 = []
for i in l2 :
    if i%2==0:
        l4.append(i)
print("even num--",l4)

even num-- [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Ques_14. Create a list of odd numbers from 1 to 20.

In [41]:
l2 = [2,534,27,84,4,3,6,7,8,23,65,89,341]
l3 = []
for i in l2 :
    if i%2 != 0:
        l3.append(i)
print("odd num--",l3)

odd num-- [27, 3, 7, 23, 65, 89, 341]

### Ques_15. Find the sum of all elements in a list.

In [43]:
l2 = [2,534,27,84,4,3,6,7,8,23,65,89,341]
sum(l2)

1193

### Ques_16. Find the maximum value in a list.

In [44]:
l2 = [2,534,27,84,4,3,6,7,8,23,65,89,341]
max_num = max(l2)
print(max_num)

534

### Ques_17. Find the minimum value in a list.

In [45]:
l2 = [2,534,27,84,4,3,6,7,8,23,65,89,341]
min_num = min(l2)
print(min_num)

2

### Ques_18.Create a list of squares of numbers from 1 to 10.

In [56]:
l2 = []
for i in range(1,11) :
    l2.append(i**2)
print(l2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Ques_19. Create a list of random numbers.

In [9]:
import random
random_list = [random.randint(1, 50) for _ in range(5)]
print(random_list)

[16, 3, 43, 15, 5]

### Ques_20. Remove duplicates from a list.

In [87]:
l = [1,2,3,2,3,5,4,3,5,3,2,1,7,8,7,9,0,7,6,5,4,3,2,1]
rem_dupli = list(set(l))
print(rem_dupli)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Ques_21. Find the common elements between two lists.

In [4]:
l1 = [1,2,4,5,6,7,8,3]
l2 = [9,8,6,5,4,2,1,0]
common_element = list(set(l1) & set(l2))
print(common_element)

[1, 2, 4, 5, 6, 8]

### Ques_22.Find the difference between two lists

In [5]:
l1 = [1,2,4,5,6,7,8,3]
l2 = [9,8,6,5,4,2,1,0]
difference = list(set(l1) - set(l2))
print(difference)

[3, 7]

In [8]:
l1 = [1,2,4,5,6,7,8,3]
l2 = [9,8,6,5,4,2,1,0]
difference = list(set(l2) - set(l1))
print(difference)

[0, 9]

### Ques_23. Merge two lists.

In [10]:
l1 = [1,2,4,5,6,7,8,3]
l2 = [9,8,6,5,4,2,1,0]
mege_list = l1 + l2
print(mege_list)

[1, 2, 4, 5, 6, 7, 8, 3, 9, 8, 6, 5, 4, 2, 1, 0]

### Ques_24. Multiply all elements in a list by 2.

In [17]:
l1 = [1,2,4,5,6,7,8,3]
multiple_list = []
for i in l1 :
    multiple_list.append(i*2)
print(multiple_list)

[2, 4, 8, 10, 12, 14, 16, 6]

### Ques_25. Filter out all even numbers from a list.

In [23]:
l1 = [1,2,4,5,6,7,8,3]
even_list = []
for i in l1 :
    if i % 2 == 0:
        even_list.append(i)
print(even_list)

[2, 4, 6, 8]

### Ques_26. Convert a list of strings to a list of integers.

In [47]:
string_list =["1", "2", "3", "4", "5"]
integers_list = list(map(int,string_list))
print(integers_list)

[1, 2, 3, 4, 5]

## Ques_27. Convert a list of integers to a list of strings.

In [48]:
list_of_integer = [1,2,3,4,5,6,7,8,9]
list_of_string = list(map(str , list_of_integer))
print(list_of_string)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

### Ques_28. Flatten a nested list.

In [50]:
nested_list = [[0,1,2,3],[7,8,9],[4,5,6]]
flatten_list = []
for i in nested_list :
    flatten_list.extend(i)
print(flatten_list)

[0, 1, 2, 3, 7, 8, 9, 4, 5, 6]

### Ques_29. Create a list of the first 10 Fibonacci numbers.

In [57]:
number = 10
a = 0
b = 1
counter = 0
while counter < number :
    print(a)
    c = a + b
    a = b
    b = c
    counter = counter + 1

0
1
1
2
3
5
8
13
21
34

### Ques_30. Check if a list is sorted.

In [58]:
l = [3,4,2,5,6,7,5,4,3,2,1,9,0,9,8,7]
sort_list = sorted(l)
print(sort_list)

[0, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 7, 7, 8, 9, 9]

### Ques_31. Rotate a list to the left by n positions.

In [3]:
list_1 = [1,2,3,4,5,6]
n = 2
result_left_rotate = (list_1[n:] + list_1[:n]) 
print("Rotated list:",result_left_rotate)

Rotated list: [3, 4, 5, 6, 1, 2]

### Ques_32. Rotate a list to the right by n positions.

In [4]:
list_1 = [1,2,3,4,5,6]
n = 2
result_right_rotate = (list_1[-n:] + list_1[:-n]) 
print("Rotated list:",result_right_rotate)

Rotated list: [5, 6, 1, 2, 3, 4]

### Ques_33. Create a list of prime numbers up to 50.

In [34]:
start_num = 1
end_num = 50
for num in range(start_num,end_num+1):
    if num > 1 :
        for i in range(2,num):
            if num % i == 0 :
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

### Ques_34.Split a list into chunks of size n.

In [39]:
l = [1,2,3,4,5,6,7,8,9]
chunk = []
for i in range(0,9,3):
    print(l[i:i+3])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

### Ques_35. Find the second largest number in a list.

In [41]:
l = [3,6,7,1,8,5]
sorted_list = l.sort()
second_largest = l[-2]
print("original list",l)
print("second largest number",second_largest)

original list [1, 3, 5, 6, 7, 8]
second largest number 7

### Ques_36. Replace every element in a list with its square.

In [43]:
l = [2,3,4,5,6,7]
square = [i**2 for i in l]
print(square)

[4, 9, 16, 25, 36, 49]

### Ques_37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [15]:
lst = ['zero','one','two','three','four','five']
dic = {element: index for index, element in enumerate(lst)}
print(dic)

{'zero': 0, 'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

### Ques_38. Shuffle the elements of a list randomly.

In [2]:
import random
l = [1,2,3,4,5,6,7]
shuffle = random.shuffle(l)
print(l)

[5, 1, 3, 4, 7, 2, 6]

### Ques_39. Create a list of the first 10 factorial numbers.

In [4]:
fac_num = []
for i in range(10):
    fac = 1
    for a in range(1, i + 1):
        fac = fac *  a
    fac_num.append(fac)

print("First 10 factorial numbers:")
for i, fac in enumerate(fac_num):
    print(f"{i}! = {fac}")

First 10 factorial numbers:
0! = 1
1! = 1
2! = 2
3! = 6
4! = 24
5! = 120
6! = 720
7! = 5040
8! = 40320
9! = 362880

### Ques_40. Check if two lists have at least one element in common.

In [9]:
list_1 = [1,2,3,4]
list_2 = [4,5,6,7]
com_ele = set(list_1) & set(list_2)
if com_ele :
    print("list have at least one common element")
else :
    print("list do not have at least one common element")

list have at least one common element

### Ques_41. Remove all elements from a list.

In [16]:
l = [1,2,3,4,5,6,7,8,9,0]
l.clear()
print(l)

[]

### Ques_42. Replace negative numbers in a list with 0.

In [17]:
original_list = [1, -2, 3, -4, 5]
modified_list = []

for x in original_list:
    if x < 0:
        modified_list.append(0)
    else:
        modified_list.append(x)

print(modified_list)

[1, 0, 3, 0, 5]

### Ques_43. Convert a string into a list of words.

In [7]:
string = "hello pw skill i am student"
list_of_word = string.split()
print(list_of_word)

['hello', 'pw', 'skill', 'i', 'am', 'student']

### Ques_44. Convert a list of words into a string.

In [8]:
list_word = ['hello', 'pw', 'skill', 'i', 'am', 'student']
convert_string = ' '.join(list_word)
print(convert_string)

hello pw skill i am student

### Ques_45. Create a list of the first n powers of 2.

In [26]:
n_num = int(input("enter the value"))
result = list(2 ** i for i in range(n_num))
print(result)

enter the value 5

[1, 2, 4, 8, 16]

### Ques_46. Find the longest string in a list of strings.

In [27]:
list_of_string = ['python','is','the','best','language','in','the','programming']
result = max(list_of_string, key=len)
print("the longest string in a list =",result)

the longest string in a list = programming

### Ques_47. Find the shortest string in a list of strings.

In [28]:
list_of_string = ['python','is','the','best','language','in','the','programming']
result = min(list_of_string, key=len)
print("the shortest string in a list =",result)

the shortest string in a list = is

### Ques_48. Create a list of the first n triangular numbers.

In [30]:
n_num = int(input("enter the number"))
sum = 0
for i in range(1,n_num+1):
    sum = sum + i
    print(sum)

enter the number 5

1
3
6
10
15

### Ques_49. Check if a list contains another list as a subsequence.

In [31]:
original = [1, 2, 3, 4, 5, 6, 7, 8]
sub = [3,4,5]
string = ''.join(map(str, original))
sub_str = ''.join(map(str, sub))

if sub_str in string:
    print(f"{sub} is a subsequence of {original}")
else:
    print(f"{sub} is not a subsequence of {original}")

[3, 4, 5] is a subsequence of [1, 2, 3, 4, 5, 6, 7, 8]

### Ques_50. Swap two elements in a list by their indices.

In [34]:
ori_list = [10,20,30,40,50,60]
print(ori_list)
x, y = 1 , 4
swap_list = ori_list[x],ori_list[y]=ori_list[y],ori_list[x]
print(ori_list)

[10, 20, 30, 40, 50, 60]
[10, 50, 30, 40, 20, 60]

###  TOPIC:   Tuple Based Practice Problem :

### Ques_1. Create a tuple with integers from 1 to 5.

In [3]:
integer = tuple(range(1,6))
print(integer)

(1, 2, 3, 4, 5)

### Ques_2. Access the third element of a tuple.

In [5]:
tuple_element = (1,2,3,4,5,5,6,7,8)
third_element = tuple_element[2]
print("third element is ",third_element)

third element is  3

### Ques_3. Find the length of a tuple without using the len() function.

In [6]:
my_tuple = (1,2,3,4,5,6,7,8,9,0)
count = 0
for i in my_tuple:
    count = count + 1
print(count)

10

### Ques_4. Count the occurrences of an element in a tuple.

In [10]:
my_tuple1 = (1,2,3,4,5,6,5,6,7,6,6,7,7,8,9,7,8,9,0)
occurrences = 7
count_occur = my_tuple1.count(occurrences)
print(count_occur)

4

### Ques_5. Find the index of the first occurrence of an element in a tuple.

In [13]:
my_tuple2 = (1,2,3,4,5,6,7,8,9,0)
first_occcur = my_tuple2.index(5)
print(first_occcur)

4

### Ques_6. Check if an element exists in a tuple.

In [21]:
my_tuple3 = (1,2,3,4,5,6,7,8,9,0)
exist_ele = 10
if exist_ele in my_tuple3:
    print("yes,it is exists")
else :
    print("No , it is not exists")

No , it is not exists

### Ques_7. Convert a tuple to a list.

In [25]:
my_tuple = (1,2,3,4,5)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

### Ques_8. Convert a list to a tuple.

In [26]:
my_list1 = [1, 2, 3, 4, 5]
my_tuple1 = tuple(my_list1)
print(my_tuple1)

(1, 2, 3, 4, 5)

### Ques_9. Unpack the elements of a tuple into variables.

In [31]:
my_Tuple = (0,9,8,7,6)
vari1, vari2, vari3, vari4, vari5 = my_Tuple
print(vari1)
print(vari2)
print(vari3)
print(vari4)
print(vari5)

0
9
8
7
6

### Ques_10. Create a tuple of even numbers from 1 to 10.

In [56]:
even_num_of_tuple = tuple(range(2,11,2))
print("even number",even_num_of_tuple)

even number (2, 4, 6, 8, 10)

### Ques_11. Create a tuple of odd numbers from 1 to 10.

In [67]:
odd_num_of_tuple = tuple(range(1,10,2))
print("odd number",odd_num_of_tuple)

odd number (1, 3, 5, 7, 9)

### Ques_12. Concatenate two tuples.

In [68]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)
concatenate = t1 + t2
print(concatenate)

(1, 2, 3, 4, 5, 6, 7, 8)

### Ques_13. Repeat a tuple three times.

In [69]:
t3 = (1,2,3,4)
repeat = t3 * 3
print(repeat)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

### Ques_14. Check if a tuple is empty.

In [70]:
empty_Tuple = ()
if len(empty_Tuple)==0:
    print("it is empty")
else :
    print("it is not empty")

it is empty

### Ques_15. Create a nested tuple.

In [1]:
nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Ques_16. Access the first element of a nested tuple.

In [3]:
nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
print(nested_tuple[0])

(1, 2, 3)

### Ques_17. Create a tuple with a single element.

In [48]:
single_tuple = (10)
print(single_tuple)

10

### Ques_18. Compare two tuples.

In [7]:
tuple_1 = (1,2,3,4)
tuple_2 = (9,2,3,4)
if tuple_1 == tuple_2 :
    print("tuples are same")
else :
    print("tuple are not same")

tuple are not same

### Ques_19. Delete a tuple.

In [12]:
tuple_del = (1,2,3,4)
del tuple_del

### Ques_20. Slice a tuple.

In [17]:
slice_tuple = (10,20,30,40,50,60)
print(slice_tuple[0:3])

(10, 20, 30)

### Ques_21. Find the maximum value in a tuple.

In [28]:
m_tuple = (1,3,5,3,7,8,4)
maximum_value = max(m_tuple)
print(maximum_value)

8

### Ques_22. Find the minimum value in a tuple.

In [30]:
m_tuple = (1,3,5,3,7,8,4)
minimum_value = min(m_tuple)
print(minimum_value)

1

### Ques_23. Convert a string to a tuple of characters.

In [43]:
string = "the python"
con_tuple = tuple(string)
print(con_tuple)

('t', 'h', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n')

### Ques_24. Convert a tuple of characters to a string.

In [45]:
c_tuple = ('t', 'h', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n')
con_str = "".join(c_tuple)
print(con_str)

the python

### Ques_25. Create a tuple from multiple data types.

In [47]:
multi_tuple = (1,2,3,"string",True,5+6j,76.01)
print(multi_tuple)

(1, 2, 3, 'string', True, (5+6j), 76.01)

### Ques_26. Check if two tuples are identical.

In [50]:
t_1 = (1,2,3,4)
t_2 = (5,6,7,8)
if t_1 == t_2 :
    print("tuples are identical")
else:
    print("tuples are not identical")

tuples are not identical

### Ques_27. Sort the elements of a tuple.

In [57]:
s_tuple = (1,2,3,4,3,2,1,4,3,5,6,7,8)
sort_tuple = tuple(sorted(s_tuple))
print(sort_tuple)

(1, 1, 2, 2, 3, 3, 3, 4, 4, 5, 6, 7, 8)

### Ques_28. Convert a tuple of integers to a tuple of strings.

In [65]:
int_tuple = (1,2,3,4,5)
str_tuple = tuple(map(str , int_tuple))
print(str_tuple)

('1', '2', '3', '4', '5')

### Ques_29. Convert a tuple of strings to a tuple of integers.

In [69]:
str_tuple1 = ('1', '2', '3', '4', '5')
int_tuple1 = tuple(map(int,str_tuple1))
print(int_tuple1)

(1, 2, 3, 4, 5)

### Ques_30. Merge two tuples.

In [71]:
tuple_01 = (1,2,3,4,5)
tuple_02 = (6,7,8,9,0)
merge = tuple_01 + tuple_02
print(merge)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

### Ques_31. Flatten a nested tuple.

In [6]:
n_t = ((1,2,3),(4,5,6),(7,8,9))
empty = []
for i in n_t:
    empty.extend(i)
print(tuple(empty))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

### Ques_32. Create a tuple of the first 5 prime numbers.

In [1]:
prime_num = (2,3,5,7,11)
print(prime_num)

(2, 3, 5, 7, 11)

### Ques_33. Check if a tuple is a palindrome.

In [2]:
t_tuple = (1,2,3,2,1)
palindrome = t_tuple[::-1]
if t_tuple == palindrome :
    print("it is palindrome")
else :
    print("it is not palindrome")

it is palindrome

### Ques_34. Create a tuple of squares of numbers from 1 to 5.

In [1]:
t = (1,2,3,4,5)
square_tuple = tuple(i**2 for i in t)
print(square_tuple)

(1, 4, 9, 16, 25)

### Ques_35. Filter out all even numbers from a tuple.

In [6]:
tuple_num = (1,2,3,4,5,6,7,8,9,10)
filter_tuple = tuple(i for i in tuple_num if i % 2 !=0)
print(filter_tuple)

(1, 3, 5, 7, 9)

### Ques_36. Multiply all elements in a tuple by 2.

In [7]:
ele_tuple = (1,2,3,4,5)
multiply_tuple = tuple(i*2 for i in ele_tuple)
print(multiply_tuple)

(2, 4, 6, 8, 10)

### Ques_37. Create a tuple of random numbers.

In [8]:
import random
random_tuple = tuple(random.randint(1,50) for i in range(5))
print(random_tuple)

(45, 14, 21, 13, 18)

### Ques_38. Check if a tuple is sorted.

In [12]:
t = (1,2,3,4,3,2,1,2,3,4,2,1,3,4)
sort_tuple = sorted(t)
print(sort_tuple)

[1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4]

### Ques_39. Rotate a tuple to the left by n positions.

In [16]:
tuple_1 = (1,2,3,4,5,6)
n = 3
result_left_rotate = (tuple_1[n:] + tuple_1[:n]) 
print("Rotated tuple:",result_left_rotate)

Rotated tuple: (4, 5, 6, 1, 2, 3)

### Ques_40. Rotate a tuple to the right by n positions.

In [15]:
tuple_1 = (1,2,3,4,5,6)
n = 2
result_right_rotate = (tuple_1[-n:] + tuple_1[:-n]) 
print("Rotated tuple:",result_right_rotate)

Rotated tuple: (5, 6, 1, 2, 3, 4)

### Ques_41. Create a tuple of the first 5 Fibonacci numbers.

In [5]:
a , b = 0 ,1
for i in range(5):
    print(a,end=" " )
    a,b = b,a+b

0 1 1 2 3

### Ques_42. Create a tuple from user input.

In [20]:
tuple_user = (input("enter the elsment"))
split_tuple = tuple_user.split(",")
ori_user_tuple = tuple(split_tuple)
print(ori_user_tuple)

enter the elsment 1 2 3 4 5 6

('1 2 3 4 5 6',)

### Ques_43. Swap two elements in a tuple.

In [22]:
t = (1,2,3,4,5,5,6)
ele_1 = 1
ele_2 = 4
ori_list = list(t)
ori_list[ele_1],ori_list[ele_2]=ori_list[ele_2],ori_list[ele_1]
swap = tuple(ori_list)
print("orignal tuple",t)
print("swap tuple",swap)

orignal tuple (1, 2, 3, 4, 5, 5, 6)
swap tuple (1, 5, 3, 4, 2, 5, 6)

### Ques_44. Reverse the elements of a tuple.

In [23]:
t = (1,2,3,4)
result = t[::-1]
print(result)

(4, 3, 2, 1)

### Ques_45. Create a tuple of the first n powers of 2.

In [28]:
n_num = int(input("enter the value"))
result = tuple(2 ** i for i in range(n_num))
print(result)

enter the value 5

(1, 2, 4, 8, 16)

### Ques_46. Find the longest string in a tuple of strings.

In [31]:
t = ('find','the','longest','string','in','a','tuple')
longest_tuple = max(t,key=len)
print(longest_tuple)

longest

### Ques_47. Find the shortest string in a tuple of strings.

In [32]:
t = ('find','the','longest','string','in','a','tuple')
shortest_tuple = max(t,key=len)
print(shortest_tuple)

longest

### Ques_48. Create a tuple of the first n triangular numbers.

In [91]:
n = 5
triangular_set = tuple(i * (i + 1) // 2 for i in range(1, n + 1))
print(triangular_set)

(1, 3, 6, 10, 15)

### Ques_49. Check if a tuple contains another tuple as a subsequence.

In [41]:
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8)
sub_tuple = (3, 4, 5)
main_str = str(main_tuple)
sub_str = str(sub_tuple)
if sub_str in main_str:
    print("The sub-tuple is a subsequence of the main tuple.")
else:
    print("The sub-tuple is not a subsequence of the main tuple.")

The sub-tuple is not a subsequence of the main tuple.

### Ques_50. Create a tuple of alternating 1s and 0s of length n.

In [1]:
n = 9 
alternating_tuple = tuple((i % 2) for i in range(n))
print(alternating_tuple)

(0, 1, 0, 1, 0, 1, 0, 1, 0)

### TOPIC - sets Based Practice Problem :

### Ques_1. Create a set with integers from 1 to 5.

In [12]:
set_int = {1,2,3,4,5}
print(set_int)

{1, 2, 3, 4, 5}

### Ques_2. Add an element to a set.

In [19]:
set_int = {1,2,3,4,5}
set_int.add(6)
print(set_int)

{1, 2, 3, 4, 5, 6}

### Ques_3. Remove an element from a set.

In [21]:
sets = {1, 2, 3, 4, 5, 6}
sets.remove(6)
print(sets)

{1, 2, 3, 4, 5}

### Ques_4. Check if an element exists in a set.

In [24]:
sets_element = {1, 2, 3, 4, 5, 6}
exists = 5
if exists in sets_element :
    print("yes")
else:
    print("no")

yes

### Ques_5. Find the length of a set without using the len() function.

In [35]:
l_sets_element = {1, 2, 3, 4, 5, 6,7}
count = 0
for i in l_sets_element :
    count = count + i
print(i)

7

### Ques_6. Clear all elements from a set.

In [29]:
c_sets_element = {1, 2, 3, 4, 5, 6,7}
c_sets_element.clear()
print(c_sets_element)

set()

### Ques_7. Create a set of even numbers from 1 to 10.

In [36]:
sets = set(range(2,11,2))
print("even number",sets)

even number {2, 4, 6, 8, 10}

### Ques_8. Create a set of odd numbers from 1 to 10.

In [37]:
sets = set(range(1,10,2))
print("even number",sets)

even number {1, 3, 5, 7, 9}

### Ques_9. Find the union of two sets.

In [38]:
a_set = {1,2,3,4,5,6}
b_set = {4,5,6,7,8,9}
union_set = a_set.union(b_set)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Ques_10. Find the intersection of two sets.

In [40]:
a_set = {1,2,3,4,5,6}
b_set = {4,5,6,7,8,9}
intersection_set = a_set.intersection(b_set)
print(intersection_set)

{4, 5, 6}

### Ques_11. Find the difference between two sets.

In [1]:
sets_1 = {1,2,3,4,5}
sets_2 = {4,5,6,7,8}
result = sets_1.difference(sets_2)
print(result)

{1, 2, 3}

### Ques_12. Check if a set is a subset of another set.

In [1]:
sets1 = {1,2,3}
sets2 = {1,2,3,4,5}
subset = sets1.issubset(sets2)
print(subset)

True

### Ques_13. Check if a set is a superset of another set.

In [3]:
sets1 = {1,2,3}
sets2 = {1,2,3,4,5}
superset = sets1.issuperset(sets2)
print(superset)

False

### Ques_14. Create a set from a list.

In [52]:
lists = [1,2,3,4,5]
sets = set(lists)
print(sets)

{1, 2, 3, 4, 5}

### Ques_15. Convert a set to a list.

In [53]:
sets1 = {1,2,3,4,5}
lists1 = list(sets1)
print(lists1)

[1, 2, 3, 4, 5]

### Ques_16. Remove a random element from a set.

In [12]:
import random
random_set = set(random.randint(1,50) for i in range(5))
print(random_set)

{33, 15, 17, 28, 29}

### Ques_17. Pop an element from a set.

In [14]:
sets2 = {1,2,3,4,5}
pop_set = sets2.pop()
print(pop_set)

1

### Ques_18. Check if two sets have no elements in common.

In [6]:
set1 = {1,2,3,4}
set2 = {5,6,7,8}
if set1.isdisjoint(set2):
    print("no same element")
else :
    print("yes same element")

no same element

### Ques_19. Find the symmetric difference between two sets.

In [3]:
set1 = {1,2,3,4}
set2 = {3,4,5,6}
result = set1.symmetric_difference(set2)
print("the symmetric difference",result)

the symmetric difference {1, 2, 5, 6}

### Ques_20. Update a set with elements from another set.

In [9]:
set_1 = {1,2,3,4}
set_2 = {3,4,5,6}
set_1.update(set_2)
set_1

{1, 2, 3, 4, 5, 6}

### Ques_21. Create a set of the first 5 prime numbers.

In [27]:
number = int(input("enter the number"))
for i in range(2,number):
    for j in range(2,i):
        if i%j==0 :
            break
            
    else:
        print(i,end=",")

enter the number 12

2,3,5,7,11,

### Ques_22. Check if two sets are identical.

In [30]:
s1 = {1,2,3,4}
s2 = {1,2,3}
if s1==s2 :
    print("yes it is identical")
else:
    print("no identical")

no identical

### Ques_23. Create a frozen set.

In [31]:
s1 = {1,2,3,4}
result = frozenset(s1)
print(result)

frozenset({1, 2, 3, 4})

### Ques_24. Check if a set is disjoint with another set.

In [41]:
s_1 = {1,2,3,4}
s_2 = {5,6,7}
if s_1.isdisjoint(s_2):
    print("yes")
else:
    print("no")

yes

### Ques_25. Create a set of squares of numbers from 1 to 5

In [42]:
num = range(1,6)
result = set(i**2 for i in num)
print(result)

{1, 4, 9, 16, 25}

### Ques_26. Filter out all even numbers from a set.

In [45]:
sets = set(range(2,21,2))
print(sets)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

### Ques_27. Multiply all elements in a set by 2.

In [46]:
sets_11 = {1,2,3,4,5,6,7,8,9,10}
result = set(i * 2 for i in sets_11)
print(result)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

### Ques_28. Create a set of random numbers.

In [53]:
import random
random_set = set(random.randint(1,20) for i in range(5))
print(random_set)

{2, 5, 7, 11, 16}

### Ques_29. Check if a set is empty.

In [54]:
empty_set = {}
result_empty = len(empty_set)==0
print(result_empty)

True

### Ques_30. Create a nested set (hint: use frozenset).

In [27]:
sets = {(1,2,3),(4,5,6),(7,8,9,0)}
frozen_set = frozenset(sets)
print(frozen_set)

frozenset({(1, 2, 3), (7, 8, 9, 0), (4, 5, 6)})

### Ques_31. Remove an element from a set using the discard method.

In [28]:
sets_remove = {1,2,3,4,5,6,7,8}
sets_remove.discard(3)
print(sets_remove)

{1, 2, 4, 5, 6, 7, 8}

### Ques_32. Compare two sets.

In [30]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
print(set1 == set2)

True

### Ques_33. Create a set from a string.

In [31]:
string = "pwskills","python","language"
result_set = set(string)
print(result_set)

{'python', 'pwskills', 'language'}

### Ques_34. Convert a set of strings to a set of integers.

In [38]:
string_set = {'1','2','3','4','5'}
int_set = set(map(int,string_set))
print(int_set)

{1, 2, 3, 4, 5}

### Ques_35. Convert a set of integers to a set of strings.

In [39]:
set_int = {1, 2, 3, 4, 5}
set_str = set(map(str,set_int))
print(set_str)

{'5', '2', '4', '1', '3'}

### Ques_36. Create a set from a tuple.

In [40]:
tuple_1 = (1,2,3,4,5)
result_set1 = set(tuple_1)
print(result_set1)

{1, 2, 3, 4, 5}

### Ques_37. Convert a set to a tuple.

In [41]:
sets = {1,2,3,4,5,6,7}
tuples = tuple(sets)
print(tuples)

(1, 2, 3, 4, 5, 6, 7)

### Ques_38. Find the maximum value in a set.

In [42]:
sets = {1,2,3,4,5,6,7}
maximun_value = max(sets)
print(maximun_value)

7

### Ques_39. Find the minimum value in a set.

In [43]:
sets = {1,2,3,4,5,6,7}
minimun_value = min(sets)
print(minimun_value)

1

### Ques_40. Create a set from user input.

In [46]:
user_input = input("enter the value")
user_set = set(user_input)
print(user_set)

enter the value 123456

{'5', '2', '4', '1', '3', '6'}

### Ques_41. Check if the intersection of two sets is empty.

In [60]:
set_a = {1,2,3,4,5}
set_b = {6,4,8,3,1}
result = set_a.intersection(set_b)
print(result)

{1, 3, 4}

### Ques_42. Create a set of the first 5 Fibonacci numbers.

In [69]:
fibonacci_set = set()
num = 5
a = 0
b = 1
count = 0
while count < num:
    fibonacci_set.add(a)
    c = a + b
    a = b
    b = c
    count=count+1
print("fibonacci number",fibonacci_set)

fibonacci number {0, 1, 2, 3}

### Ques_43. Remove duplicates from a list using sets.

In [71]:
lists = [1,2,3,4,3,2,1,4,5,6,7,8,9,2,3,4]
sets = set(lists)
print(sets)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Ques_44. Check if two sets have the same elements, regardless of their count.

In [72]:
s_a = {1,2,3,4,5}
s_b = {1,2,3,4,5}
if s_a == s_b :
    print("yes it is same element")
else :
    print("no it is not same element")

yes it is same element

### Ques_45. Create a set of the first n powers of 2.

In [84]:
sets = {1,2,3,4,5}
power = set(i**2 for i in sets)
print(power)

{1, 4, 9, 16, 25}

### Ques_46. Find the common elements between a set and a list.

In [73]:
sets = {1,2,3,4,5}
lists = [4,5,6,7,8]
comman_element = sets.intersection(lists)
print(comman_element)

{4, 5}



### Ques_47. Create a set of the first n triangular numbers.

In [89]:
n = 5
triangular_set =set(i * (i + 1) // 2 for i in range(1, n + 1))
print(triangular_set)

{1, 3, 6, 10, 15}



### Ques_48. Check if a set contains another set as a subset.

In [2]:
a = {1,2,3,4,5,6,7,8}
b = {1,2,3,4}
result = b.issubset(a)
print(result)

True

### Ques_49. Create a set of alternating 1s and 0s of length n.

In [4]:
n = 10
alternating_set = set(1 if i % 2 == 0 else 0 for i in range(n))
print(alternating_set)

{0, 1}

### Ques_50. Merge multiple sets into one.

In [5]:
set_a = {1,2,3,4,5}
set_2 = {6,7,8,9,0}
merge_set = set_a.union(set_2)
print(merge_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}